<h1>Calendrier : {{calendar.reference}}</h1>
<form action="/calendar/{{calendar._id}}" method="post" class="form form-horizontal">	
    <div class="row-fluid">
        {{#error}} 
        <div class="alert">  
            <a class="close" data-dismiss="alert">×</a>  
            <strong>Validation error!</strong>  {{error}} 
        </div>
        {{/error}}

        <dd id="producer_{{_id}}" class="collapse in">
        <table id="cal_table" class="table table-bordered">
            <tbody>
                <tr>
                    <th>Produits : unité / tarif</th>
                    {{#items}}
                    <th>{{delivery_date}}</th>
                    {{/items}}
                </tr>
                {{#products}}
                <tr>
                    <td>{{name}} : {{unit}} / {{price}}</td>
                    {{#items}}
                    <td><input type="checkbox" name="val_{{product._id}}" id="val_{{product._id}}" value=""></td>
                    {{/items}}
                </tr>
                {{/products}}
            </tbody>
        </table>
        </dd>
        <div class="commands">
            <button type="submit" class="btn btn-primary btn-large"><i class="icon-upload icon-white"></i>Sauvegarder</button>
        </div>
    </div>
</form>
