<h1>Créer/modifier un calendrier</h1>
<form action="/calendar/{{calendar._id}}" method="post" class="form-horizontal" role="form">	
    <div class="row-fluid">
        {{#error}} 
        <div class="alert">  
            <a class="close" data-dismiss="alert">×</a>  
            <strong>Validation error!</strong>  {{error}} 
        </div>
        {{/error}}
        <div class="control-group">
            <div>
                <label class="control-label col-sm-4" for="reference">Nom de la commande :</label>
                <input type="text" class="form-control" name="reference" id="reference" value="{{calendar.reference}}" required/>
            </div>
            <div>
                <label class="control-label col-sm-4" for="openDate">Dates de début de commande</label>
                <input type="text" class="cal form-control" name="openDate" id="openDate" value="{{calendar.openDate}}" required>
            </div>
            <div>
                <label class="control-label col-sm-4" for="endDate">Dates de fin de commande</label>
                <input type="text" class="cal form-control" name="endDate" id="endDate" value="{{calendar.endDate}}" required>
            </div>
        </div>
        <div class="commands">
            {{#calendar._id}}
            <button type="submit" class="btn btn-primary"><i class="icon-upload"></i>Modifier calendrier</button>
            <a href="/calendar/detail/{{calendar._id}}" class="btn btn-primary" role="button">Détail</a>
            {{/calendar._id}}
            {{^calendar._id}}
            <button type="submit" class="btn btn-primary btn-large"><i class="icon-upload"></i>Créer calendrier</button>
            {{/calendar._id}}
        </div>
    </div>
</form>
