<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="{{root}}/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{root}}/css/amap.min.css">
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
        <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
        <script type="application/javascript" src="{{root}}/js/common.js"></script>
        <script type="application/javascript" src="{{root}}/js/bootstrap.min.js"></script>
        <script type="application/javascript" src="{{root}}/js/calendar.js"></script>
        <script src="http://multidatespickr.sourceforge.net/jquery-ui.multidatespicker.js"/></script>
    </head>
    <body>

        <header></header>

        {{> menu}}

        <div class="container-fluid">
            <section class="main order">
            <h1>Créer un template de commande</h1>
            <form action="/calendar/{{calendar._id}}" method="post" class="form form-horizontal">	
                <div class="row-fluid">
                    {{#error}} 
                    <div class="alert">  
                        <a class="close" data-dismiss="alert">×</a>  
                        <strong>Validation error!</strong>  {{error}} 
                    </div>
                    {{/error}}
                    <div class="control-group">
                        <label class="mylabel" for="reference">Nom de la commande :</label>
                        <div class="controls">
                            <input type="text" name="reference" id="reference" value="{{calendar.reference}}"/>
                        </div>
                    </div>
                    <div>
                        <label class="mylabel" for="openDate">Dates de début de commande</label>
                        <input type="text" class="cal" name="openDate" id="openDate" value="{{calendar.openDate}}">
                    </div>
                    <div>
                        <label class="mylabel" for="endDate">Dates de fin de commande</label>
                        <input type="text" class="cal" name="endDate" id="endDate" value="{{calendar.endDate}}">
                    </div>
                    <div>
                        <label class="mylabel" for="itemDates">Définir les dates de livraison associé</label>
                        <input type="text" class="cal" name="itemDates" id="itemDates" value="{{itemDates}}">
                    </div>
                    <div class="commands">
                        {{#calendar._id}}
                        <button type="submit" class="btn btn-primary btn-large"><i class="icon-upload icon-white"></i>Modifier calendrier</button>
                        <div class="commands">
                            <a href="/calendar/detail/{{calendar._id}}" class="btn btn-primary btn-lg active" role="button">Détail</a>
                        </div>
                        {{/calendar._id}}
                        {{^calendar._id}}
                        <button type="submit" class="btn btn-primary btn-large"><i class="icon-upload icon-white"></i>Créer calendrier</button>
                        {{/calendar._id}}
                    </div>
                </form>
                </section>
            </div>
        </body>
    </html>

