<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{root}}/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{root}}/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{root}}/css/techforum.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
    <script type="application/javascript" src="{{root}}/js/common.js"></script>
  </head>
  <body>

    <header></header>

    <div class="subnav navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            {{#user.menu}}
              <li {{#active}}class="active"{{/active}}><a {{^active}}href="{{link}}"{{/active}}>{{name}}</a></li>
            {{/user.menu}}
          </ul>
          <div class="user pull-right">
            <span class="name">Welcome {{user.id}}</span><a class="btn" href="{{root}}/logout"><i class="icon-lock"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <section class="main">
       <h1>Contributions</h1>
          {{#contribs}}
              <div class="row-fluid">
                <dt>General information</dt>
                <dd>
                    <div class="control-group">
                      	<label class="control-label">Title:</label>
                        <div class="controls">
                      	    <a href="/form/{{_id}}">{{title}}</a>
                        </div>
                      	<label class="control-label">Sum:</label>
                        <div class="controls">
                      	    {{sum}}
                        </div>
                    </div>
                </dd>
              </div>
          {{/contribs}}
      </section>
     </div>
  </body>
</html>

