<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{root}}/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{root}}/css/amap.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
    <script type="application/javascript" src="{{root}}/js/common.js"></script>
  </head>
  <body>

    <header></header>

    {{> menu}}
    
    <div class="container-fluid">
      <section class="main">
       <h1>Commandes :</h1>
          {{#orders}}
              <div class="row-fluid">
                <dt>Commande : <a href="/order/{{_id}}">{{order_ref}}</a></dt>
                <dd>
                    <div class="control-group">
                      	<label class="control-label">Amount:</label>
                        <div class="controls">
                      	    {{amount}}
                        </div>
                        <label class="control-label">Date:</label>
                        <div class="controls">
                      	    {{date}}
                        </div>
                    </div>
                </dd>
              </div>
          {{/orders}}
      </section>
     </div>
  </body>
</html>

